body {
	width: 50%;
	min-width: 320px;
	margin: 0 auto;
	font-family: "Helvetica";
	font-size: 16px;
	text-align: center;
}

div#main{
	margin-top: 40%;
}

div.name{
	font-weight: bold;
}

hr{
	border: none;
	height: 2px;
	color: #333;
	background-color: #333;
}

a {
	text-decoration: none;
}
